$bg-color1: #ffffff;
$bg-color2: #f8f9fa;
$bg-color3: #343a40;
$font-color1: #000000;
$font-color2: #ced4da;
$font-color3: #0099ff;
$font: "Roboto Condensed", sans-serif;
$font-weight-basic: 300;
$font-weight-bold: 700;
